
---
import HeroVideoDialog from '@/components/ui/hero-video-dialog';

const videos = [
  {
    videoSrc: "https://www.youtube.com/embed/qh3NGpYRG3I?si=4rb-zSdDkVK9qxxb",
    thumbnailSrc: "https://startup-template-sage.vercel.app/hero-light.png",
    thumbnailAlt: "Hero Video Light",
  },
  {
    videoSrc: "https://www.youtube.com/embed/qh3NGpYRG3I?si=4rb-zSdDkVK9qxxb",
    thumbnailSrc: "https://startup-template-sage.vercel.app/hero-dark.png",
    thumbnailAlt: "Hero Video Dark",
  },
  {
    videoSrc: "https://www.youtube.com/embed/qh3NGpYRG3I?si=4rb-zSdDkVK9qxxb",
    thumbnailSrc: "https://startup-template-sage.vercel.app/hero-light.png",
    thumbnailAlt: "Hero Video Light",
  },
  {
    videoSrc: "https://www.youtube.com/embed/qh3NGpYRG3I?si=4rb-zSdDkVK9qxxb",
    thumbnailSrc: "https://startup-template-sage.vercel.app/hero-dark.png",
    thumbnailAlt: "Hero Video Dark",
  },
];
---

<section class="relative py-8">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
      {videos.map((video, index) => (
        <div class="relative">
          <HeroVideoDialog
            className="dark:hidden block"
            animationStyle="top-in-bottom-out"
            videoSrc={video.videoSrc}
            thumbnailSrc={video.thumbnailSrc}
            thumbnailAlt={video.thumbnailAlt}
          />
          <HeroVideoDialog
            className="hidden dark:block"
            animationStyle="top-in-bottom-out"
            videoSrc={video.videoSrc}
            thumbnailSrc={video.thumbnailSrc}
            thumbnailAlt={video.thumbnailAlt}
          />
        </div>
      ))}
    </div>
  </div>
</section>